@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  padding: 0 30px;
  background-image: url("./images/SP-CGDESIGN-banner.jpg");
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #d4d4d4;
}

.header {
  width: 100%;
  height: 100vh;
}

.header .text-content {
  padding-top: 200px;
  padding-left: 100px;
  width: 70%;
}

.text-content p {
  font-size: 3rem;
  padding: 20px 0;
}

.a-button {
  width: 350px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #0f4192;
  border: 1px solid #0f4192;
  color: #ffffff !important;
  padding: 15px;
}

/* ------------------------------------------------------------------------------------- */
.section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-one .sectionContent {
  position: relative;
  width: 33%;
  height: 95vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.section-one .top-heading {
  margin: 2rem 2rem 0;
  font-size: 2rem;
  line-height: 1.2;
  height: 40%;
  border-bottom: 1px solid gray;
}

.readMore {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 1rem 2rem 0;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

.section-one .readMore .readMore-content {
  padding-top: 5px;
}

.sectionContent .contentImg {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
}

.sectionContent .contentImg img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
}

/* ---------------------------------------------------------------------------------------------- */
.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px;
  gap: 30px;
}

.sectionTwo-LeftContent {
  display: flex;
  width: 68%;
  height: 70vh;
  background-color: #fff;
  border-radius: 10px;
}

.section-two-text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
}

.sectionTwo-LeftContent .headline {
  padding: 2rem 2rem 0 0;
  font-size: 2rem;
  line-height: 1.2;
  height: 40%;
}

a.explore {
  display: flex;
  gap: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  margin: 2rem 0;
  padding-top: 1rem;
  border-top: 1px solid gray;
  margin-right: 2rem;
}

.sectionTwoContentImg {
  width: 50%;
}

.sectionTwoContentImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}
/* ------------------------------------------------- */

.sectionTwo-RightContent {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 70vh;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem;
  justify-content: space-between;
}

.buyText {
  font-size: 1.5rem;
}

.moreContent {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 15px 0;
  line-height: 1.4;
}

/* ------------------------------------------------------------------------------------------------------ */

.container {
  display: flex;
  background-color: #fff;
  height: 450px;
  border-radius: 10px;
}

.text-box {
  padding: 2rem 2rem 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-box-heading {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 15px;
}
.text-box-text {
  font-size: 1.2rem;
  line-height: 1.4;
}
.sectionImg {
  width: 50%;
  height: 100%;
}
.container .sectionImg img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}
/* ------------------------------------------------------------------------------------------------------ */
.sectionBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}
.sectionBottom .sectionBottomContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 50%;
  height: 110vh;
  border-radius: 10px;
}
.sectionBottom-container {
  width: 100%;
  height: 50%;
  padding: 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heading {
  font-size: 2rem;
  margin-top: 20px;
}

.sectionBottomContent .contentImg {
  width: 100%;
}

.contentImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}
/* ------------------------------------------------------------------------------------------------------ */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  .header {
    /* position: relative; */
    height: 100px;
  }
  .text-content p {
    display: none;
  }
  .header .text-content {
    width: 100%;
    top: 20px;
    left: 0;
    padding: 1.5rem 0 0;
  }
  .a-button {
    width: 85vw;
  }
  /* ################################################# */
  .section-one {
    top: 80px;
    display: block;
  }

  .section-one .sectionContent {
    width: auto;
    margin: 20px 0;
  }
  .top-heading {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  /* ################################################### */
  .section-two {
    display: block;
  }

  .sectionTwo-LeftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .section-two-text-content {
    width: 100% !important;
    height: 50% !important;
  }

  .sectionTwo-LeftContent .headline {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 2rem 0 0;
  }
  .sectionTwo-RightContent {
    width: 100%;
    margin-bottom: 20px;
  }

  .sectionTwoContentImg {
    width: 100%;
    height: 50% !important;
  }

  .sectionTwoContentImg img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 0 0 10px 10px !important;
  }

  /* ################################################### */
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
  }

  .text-box {
    width: 100% !important;
    height: 55% !important;
  }

  .sectionImg {
    width: 100% !important;
    height: 45% !important;
  }

  .text-box-heading {
    font-size: 1.2rem;
  }

  .text-box-text {
    font-size: 0.8rem;
  }

  .container .sectionImg img {
    border-radius: 0 0 10px 10px !important;
  }

  /* ########################################### */

  .sectionBottom {
    display: block;
  }

  .sectionBottomContent {
    width: 100% !important;
    height: 95vh !important;
    margin: 20px 0 !important;
  }
}

/* Low resolution Tablets and iPads */
@media (min-width: 481px) and (max-width: 1025px) {
  .header {
    height: auto;
  }

  .header .text-content {
    width: 100%;
    padding: 0;
  }

  .text-content p {
    font-size: 1.5rem;
  }

  /* ########################## */

  .section-one {
    display: block;
    margin: 20px 0;
  }

  .section-one .sectionContent {
    width: 100%;
    margin-bottom: 20px;
  }

  /* #################################################### */

  .section-two {
    display: block;
  }

  .sectionTwo-LeftContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .section-two-text-content {
    width: 100%;
  }

  .sectionTwoContentImg {
    width: auto;
  }

  .sectionTwoContentImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 10px 10px !important;
  }

  .sectionTwo-RightContent {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  /* ######################################################## */

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
  }

  .text-box {
    width: 100% !important;
    height: 55% !important;
  }

  .sectionImg {
    width: 100% !important;
    height: 45% !important;
  }

  .text-box-heading {
    font-size: 1.2rem;
  }

  .text-box-text {
    font-size: 0.8rem;
  }

  .container .sectionImg img {
    border-radius: 0 0 10px 10px !important;
  }

  /* ########################################### */
  .sectionBottom {
    display: block;
    height: auto;
  }

  .sectionBottomContent {
    width: 100% !important;
    margin: 20px 0 !important;
  }

  .heading {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .sectionBottomContent .contentImg {
    width: 100%;
    height: 50%;
  }

  .contentImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .header .text-content {
    padding-top: 150px;
    padding-left: 100px;
    width: 70%;
  }

  .text-content p {
    font-size: 2rem;
    padding: 20px 0;
  }

  /* ########################################################## */

  .section-one .top-heading {
    margin: 1.5rem 1.5rem 0;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .readMore {
    font-size: 0.9rem;
    font-weight: 400;
  }

  /* ############################################################### */

  .sectionTwo-LeftContent .headline {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .buyText {
    font-size: 1.3rem;
  }
  .moreContent {
    gap: 15px;
    margin: 15px 0 0 0;
  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* 

320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/

/* Mobile Devices */
/* @media (max-width: 480px) {
  foo > bar {
          
  }
} */

/* Low resolution Tablets and iPads */
/* @media (min-width: 481px) and (max-width: 767px) {
  foo > bar {
      
  }
} */

/* Tablets iPads (Portrait) */
/* @media (min-width: 768px) and (max-width: 1024px){
  foo > bar {
      
  }
} */

/* Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
  foo > bar {
      
  }
} */

/* Big boi Monitors */
/* @media (min-width: 1281px) {
  foo > bar {
      
  }
} 
*/
